test_variable.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 测试2
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: end
      id: 1766852370227-source-1766852389254-target
      source: '1766852370227'
      sourceHandle: source
      target: '1766852389254'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: true
        title: 用户输入
        type: start
        variables:
        - children:
          - children: []
            description: ''
            required: false
            type: text-input
            variable: var_1766974683066
          default: ''
          hint: ''
          label: a
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: json_object
          variable: a
      height: 109
      id: '1766852370227'
      position:
        x: -247
        y: 202
      positionAbsolute:
        x: -247
        y: 202
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1766852370227'
          - a
          - var_1766974683066
          value_type: object
          variable: a
        - value_selector:
          - sys
          - files
          value_type: array[file]
          variable: files
        selected: false
        title: 输出
        type: end
      height: 114
      id: '1766852389254'
      position:
        x: 225
        y: 311
      positionAbsolute:
        x: 225
        y: 311
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 386.0209418358647
      y: 3.199009356254635
      zoom: 0.8567880739317454
  rag_pipeline_variables: []
